/* common styles */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
/* end of common styles */

.Header {
    width: 100%;
    height: 6rem;
    text-decoration: none;
    background-color: #eee;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

}

.Header a {
    text-decoration: none;
    font-size: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Header a.logo {
    font-size: 4rem;
    font-weight: 500;
    color: orangered;
}

.Header-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.banner {
    height: 100vh;
    background: linear-gradient(to top, rgba(0, 0, 0, .6), rgba(0, 0, 0, .5)), url(../img/banner2.jpg) center no-repeat;
    background-size: cover;
}

.banner-contents {
    color: #ddd;
    height: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-heading {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 7rem;
    font-weight: 400;
    margin-bottom: 0;
    animation: anim 2s;
}

.banner-paragraph {
    font-size: 3.5rem;
    font-weight: 400;
    color: #deaa86
}

.about-me {
    display: flex;
    background-color: #ddd;
}

.about-me-content {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem;
    box-sizing: border-box;
}

.about-me-heading {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #555;
}

.sub-heading {
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: .2rem;
    color: #b85d1c;
    margin-bottom: 2rem;
}

.about-me-paragraph {
    font-size: 1.6rem;
    font-style: italic;
    font-weight: 300;
    text-align: center;
    margin-bottom: 5rem;
}

.small-underline {
    width: 9rem;
    height: .1rem;
    margin: 0 auto 1rem auto;
    background-color: #b85d1c;
}

.big-underline {
    width: 20rem;
    height: .1rem;
    margin: auto;
    background-color: #b85d1c;
}

.image {
    display: flex;
    position: re;
    width: 200px;
    height: 200px;
    margin-top: 10rem;
    padding: 3rem;
    border-radius: 50%;
    border-style: solid;
    background: url(../img/edwin.jpeg) center no-repeat;
    background-size: cover;
    transition: transform 3s;
    
}

@media (max-width: 500px){
  .image{
    width: 100px;
    height: 100px;
    margin-top: 50rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 8rem;
    margin-bottom: 2rem;
    overflow: hidden;
  }
}

.image:hover {
    transform: rotateZ(360deg);

}

.common-header {
    padding: 5rem;
    text-align: center;
    color: #b85d1c;
}

.common-heading {
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: .2rem;
}

.skills {
    margin: 5rem auto;
    padding-bottom: 2rem;
    max-width: 110rem;
    border-radius: 1rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
    background-color:   #b85d1c;
    display: flex;
    justify-content: space-evenly; 
}

@media only screen and (max-width: 56.25em) {
    .skills {
      flex-direction: column;
      align-items: center;
      border-radius: 0; } }
  @media only screen and (max-width: 37.5em) {
    .skills {
      margin: 4rem 0 0 0; } }
  .skills ul {
    list-style: none;
    margin-top: 1.5rem; }
  .skills__heading {
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-blue-1);
    margin-top: 1rem; }
    @media only screen and (max-width: 68.75em) {
      .skills__heading {
        font-size: 3rem; } }
    @media only screen and (max-width: 37.5em) {
      .skills__heading {
        font-size: 3rem; } }
  .skills__list-item {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2;
    color: var(--color-grey-dark-4); }
    @media only screen and (max-width: 68.75em) {
      .skills__list-item {
        font-size: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .skills__list-item {
        font-size: 2rem; } }
  @media only screen and (max-width: 56.25em) {
    .skills__frontend {
      border-bottom: 1px solid white;
      margin-bottom: 1.5rem; } }
  @media only screen and (max-width: 56.25em) {
    .skills__backend {
      border-bottom: 1px solid white;
      margin-bottom: 1.5rem; } }
  @media only screen and (max-width: 56.25em) {
    .skills__tools {
      margin-right: 4.5rem; } }

      .projects__heading {
        font-size: 3rem;
        font-weight: 600;
        text-align: center;
        padding-top: 3rem; }
        @media only screen and (max-width: 56.25em) {
          .projects__heading {
            padding-top: 4rem; } 
          }
.projects__container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 5rem; }
  @media only screen and (max-width: 56.25em) {
    .projects__container {
      margin-top: 3rem; } }
.projects__card {
  max-width: 35rem;
  border-radius: 1.5rem;
  margin-top: 4rem;
  position: relative;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 -0.5rem 10px rgba(0, 0, 0, 0.1); }
  .projects__img {
    height: 100%;
    width: 100%;
    border-radius: 1.5rem;
    transform: scale(1);
    overflow: hidden;
    transition: all 0.45s ease-in-out; }                
  .projects {
      margin-left: 8rem;
  }

  .projects_link {
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center
  }
  
  .projects-cards-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }
  
  .project-card {
      width: 60rem;
      margin: 5rem;
      background-color: #15141b;
      box-shadow: 0 3rem 6rem rgba(0, 0, 0, .3);
  }
  
  .project-img {
      width: 100%;
  }
  
  .project-card-content {
      color: #ddd;
      padding: 2rem;
  }
  
  .project-card-heading {
      margin: 0;
      font-size: 3rem;
      font-weight: 300;
  }
  
  .project-card-paragraph {
      font-size: 1.5rem;
      color: #777;
  }
  
  .project-price {
      font-size: 5rem;
      font-weight: 300;
      text-align: right;
      margin: 0;
  }
  
  .project-card-btn {
      width: 15rem;
      padding: 1.5rem 1rem;
      font-family: 'Montserrat', sans-serif;
      font-size: 1.2rem;
      text-transform: uppercase;
      color: #b85d1c;
      background-color: transparent;
      border: .1rem solid #b85d1c;
      border-radius: 10rem;
      outline: none;
      cursor: pointer;
  }

  .footer {
    height: 30rem;
    background-color: darkblue;
    margin-left: 0rem;
    
    
  } 

  .footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; }

  .icon {
    width: 40px;
    margin-right: 3rem;
  }  

.footer__icons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.footer__description {
  display: block;
  margin-top: 2rem;
  font-size: 2rem; }
  @media only screen and (max-width: 25em) {
    .footer__description {
      font-size: 1.5rem;
    }
  }

  @media(max-width: 500px) {
    

    .banner {
        height: 100%;
        margin-top: -10rem;
    }

    .banner-heading {
        font-size: 3rem;
    }

    .banner-paragraph {
        font-size: 2rem;
    }

    .about-us {
        padding-bottom: 15rem;
    }

    .about-us-heading {
        font-size: 2.5rem;
        text-align: center;
    }

    .sub-heading {
        font-size: 2rem;
        text-align: center;
    }

    .about-us-content {
        padding: 5rem;
    }

    .image {
        width: 13rem;
    }

    .common-heading {
        font-size: 2rem;
    }

    .small-underline {
        width: 5rem;
    }

    .big-underline {
        width: 12rem;
    }

    

    
}